<a data-ng-class="{'active': endsWith('edit')}" href="#/admin/edit">Business Unit Info</a>
<a data-ng-class="{'active': endsWith('processes')}" href="#/admin/edit/processes" class="has-nfn">Processes &amp; Controls Assessment</a>
<a data-ng-class="{'active': endsWith('globalFields')}" href="#/admin/edit/globalFields">Global Fields</a>
<a data-ng-class="{'active': endsWith('riskCalculation')}" href="#/admin/edit/riskCalculation">Risk Calculation</a>
<a data-ng-class="{'active': endsWith('addon')}" href="#/admin/edit/addon">Add-Ons</a>
<a data-ng-class="{'active': endsWith('bulkdata')}" href="#/admin/edit/bulkdata">Bulk Data Import</a>
<!-- /.nav-tabs links -->