<div class="clearfix"></div>
<ul class="edit-list fixed-height" data-ng-model="list" data-ui-sortable="sortOptions">
    <li class="li" id="{{record.id}}" data-ng-repeat="record in list" data-ng-class="{'active':selected.id===record.id}">
        <div class="edit-row">
            <a class="move-handel"></a>
            <div class="chk-ctrl">
                <input type="checkbox" data-ng-change="enableOrDisabled()"
                       data-ng-model="record.enabled" class="ck" />
                <label class="chk-lbl">
                    <span class="tx" ng-hide="$parent.editingIndex==$index"
                          ng-dblclick="$parent.setEditingMode($index)"
                          data-sglclick="select(record)">{{record.value}}</span>

                    <input type="text" ng-if="!$parent.onlyInteger" class="kpi-update-text-ctrl" ng-show="$parent.editingIndex==$index"
                           data-ng-enter="$parent.updateRecord()" maxlength="200"
                           ng-blur="$parent.cancelEditingMode()" ng-class="{error: $parent.updatingRecord.value.length<1}"
                           data-ng-model="$parent.updatingRecord.value" focus-on-show />

                    <input type="text" ng-if="$parent.onlyInteger" class="kpi-update-text-ctrl" ng-show="$parent.editingIndex==$index"
                           data-ng-enter="$parent.updateRecord()" maxlength="200"
                           ng-blur="$parent.cancelEditingMode()" ng-class="{error: $parent.updatingRecord.value.length<1}"
                           data-ng-model="$parent.updatingRecord.value" focus-on-show data-only-integers />
                </label>
            </div>
        </div>
        <!-- /.edit-row -->
        <a class="remove" data-ng-click="showDeleteConfirm($index, record.value)"></a>
    </li>
</ul>
<ul class="edit-list">
    <li class="li li-add">
        <div class="add-group dsd">
            <input type="text" ng-show="!onlyInteger" class="kpi-text-ctrl" data-ng-enter="addRecord()" maxlength="200" data-ng-model="newRecord" />
            <input type="text" ng-show="onlyInteger" class="kpi-text-ctrl" data-ng-enter="addRecord()" maxlength="6" data-ng-model="newRecord" data-only-integers />
            <a class="add-link" data-ng-click="addRecord()"></a>
        </div>
    </li>
</ul>
<!-- edit-list -->
<div class="hide row lookup-delete" id="modal-delete-{{category}}-record-{{childCategory}}" title="Field Delete">
    <div>
        <form class="custom-form">
            <div class="row">
                <p class="tc">Are you sure you want to delete "<strong>{{deleting.value}}</strong>"?</p>
            </div>
        </form>
        <center class="pad-t-25 buttons">
            <a href="javascript:;" class="btn btn-primary" close-dialog data-target-id="#modal-delete-{{category}}-record-{{childCategory}}"
               ng-click="removeRecord()">Delete</a> &nbsp;&nbsp;&nbsp;
            <a href="javascript:;" close-dialog data-target-id="#modal-delete-{{category}}-record-{{childCategory}}" class="btn btn-primary"
               ng-click="deleting={}">Cancel</a>
        </center>
    </div>
</div>
