<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=localhost;Initial Catalog=projectCoeus;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="KSTConnectionString" connectionString="Data Source=localhost;Initial Catalog=projectCoeus;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="weblog.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="default">
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </logger>
  </log4net>

  <unity>
    <typeAliases>
      <!-- Common -->
      <typeAlias alias="ISecurityService" type="JohnHancock.Common.Services.ISecurityService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="SecurityService" type="JohnHancock.Common.Services.Impl.SecurityService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="IUserService" type="JohnHancock.Common.Services.IUserService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="UserService" type="JohnHancock.Common.Services.Impl.UserService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="SecurityController" type="JohnHancock.Common.API.Controllers.SecurityController, JohnHancock.ProjectCoeus" />
      <typeAlias alias="UserController" type="JohnHancock.Common.API.Controllers.UserController, JohnHancock.ProjectCoeus" />
      <typeAlias alias="AuthorizationFilter" type="JohnHancock.Common.API.Support.AuthorizationFilter, JohnHancock.ProjectCoeus" />
      <typeAlias alias="ExceptionFilter" type="JohnHancock.Common.API.Support.ExceptionFilter, JohnHancock.ProjectCoeus" />
      <typeAlias alias="LoggingActionFilter" type="JohnHancock.Common.API.Support.LoggingActionFilter, JohnHancock.ProjectCoeus" />
      <!--Coeus-->
      <typeAlias alias="IAssessmentService" type="JohnHancock.ProjectCoeus.Services.IAssessmentService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="AssessmentService" type="JohnHancock.ProjectCoeus.Services.Impl.AssessmentService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="IAuditService" type="JohnHancock.ProjectCoeus.Services.IAuditService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="AuditService" type="JohnHancock.ProjectCoeus.Services.Impl.AuditService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="ILookupService" type="JohnHancock.ProjectCoeus.Services.ILookupService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="LookupService" type="JohnHancock.ProjectCoeus.Services.Impl.LookupService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="IRiskScoreCalculator" type="JohnHancock.ProjectCoeus.Services.Impl.IRiskScoreCalculator, JohnHancock.ProjectCoeus" />
      <typeAlias alias="RiskScoreCalculator" type="JohnHancock.ProjectCoeus.Calculators.Impl.RiskScoreCalculator, JohnHancock.ProjectCoeus" />
      <typeAlias alias="AssessmentController" type="JohnHancock.ProjectCoeus.API.Controllers.AssessmentController, JohnHancock.ProjectCoeus" />
      <typeAlias alias="LookupController" type="JohnHancock.ProjectCoeus.API.Controllers.LookupController, JohnHancock.ProjectCoeus" />
      <!--KST-->
      <typeAlias alias="IAuditFindingService" type="JohnHancock.KPIScorecard.Services.IAuditFindingService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="AuditFindingService" type="JohnHancock.KPIScorecard.Services.Impl.AuditFindingService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="IBusinessUnitKPIScorecardService" type="JohnHancock.KPIScorecard.Services.IBusinessUnitKPIScorecardService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="BusinessUnitKPIScorecardService" type="JohnHancock.KPIScorecard.Services.Impl.BusinessUnitKPIScorecardService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="IKPIScorecardConfigurationService" type="JohnHancock.KPIScorecard.Services.IKPIScorecardConfigurationService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="KPIScorecardConfigurationService" type="JohnHancock.KPIScorecard.Services.Impl.KPIScorecardConfigurationService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="KST_ILookupService" type="JohnHancock.KPIScorecard.Services.ILookupService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="KST_LookupService" type="JohnHancock.KPIScorecard.Services.Impl.LookupService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="IOperationalIncidentService" type="JohnHancock.KPIScorecard.Services.IOperationalIncidentService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="OperationalIncidentService" type="JohnHancock.KPIScorecard.Services.Impl.OperationalIncidentService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="IPrivacyIncidentService" type="JohnHancock.KPIScorecard.Services.IPrivacyIncidentService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="PrivacyIncidentService" type="JohnHancock.KPIScorecard.Services.Impl.PrivacyIncidentService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="ISummaryService" type="JohnHancock.KPIScorecard.Services.ISummaryService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="SummaryService" type="JohnHancock.KPIScorecard.Services.Impl.SummaryService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="AuditFindingController" type="JohnHancock.KPIScorecard.API.Controllers.AuditFindingController, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="BusinessUnitKPIScorecardController" type="JohnHancock.KPIScorecard.API.Controllers.BusinessUnitKPIScorecardController, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="KPIScorecardConfigurationController" type="JohnHancock.KPIScorecard.API.Controllers.KPIScorecardConfigurationController, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="OperationalIncidentController" type="JohnHancock.KPIScorecard.API.Controllers.OperationalIncidentController, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="PrivacyIncidentController" type="JohnHancock.KPIScorecard.API.Controllers.PrivacyIncidentController, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="KST_LookupController" type="JohnHancock.KPIScorecard.API.Controllers.KSTLookupController, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="SummaryController" type="JohnHancock.KPIScorecard.API.Controllers.SummaryController, JohnHancock.ProjectCoeus"/>
      <!-- other types -->
      <typeAlias alias="IDictionaryString" type="System.Collections.Generic.IDictionary`2[System.String,System.String]" />
      <typeAlias alias="DictionaryString" type="System.Collections.Generic.Dictionary`2[System.String,System.String]" />
    </typeAliases>
    <containers>
      <container>
        <!-- ADPropertyNameMapping for UserService -->
        <register type="IDictionaryString" mapTo="DictionaryString" name="ADPropertyNameMapping">
          <constructor />
          <method name="Add">
            <param name="key" value="FirstName" />
            <param name="value" value="givenName" />
          </method>
          <method name="Add">
            <param name="key" value="LastName" />
            <param name="value" value="sn" />
          </method>
        </register>

        <!-- Expressions for RiskScoreCalculator, note that expressions are trivial for testing purposes -->
        <register type="IDictionaryString" mapTo="DictionaryString" name="Expressions">
          <constructor />
          <method name="Add">
            <param name="key" value="ResidualOverallRiskScore" />
            <param name="value" value="assessment.SubmitterUsername.Length * 2.5" />
          </method>
          <method name="Add">
            <param name="key" value="ResidualCategoryRiskScore" />
            <param name="value" value="assessment.SubmitterUsername.Length + 2.4" />
          </method>
          <method name="Add">
            <param name="key" value="LikelihoodOfOccurrenceOverallRiskScore" />
            <param name="value" value="assessment.SubmitterUsername.Length + 7.3" />
          </method>
          <method name="Add">
            <param name="key" value="RiskExposureOverallRiskScore" />
            <param name="value" value="assessment.SubmitterUsername.Length + 2.34" />
          </method>
          <method name="Add">
            <param name="key" value="KeyControlsMaturityOverallRiskScore" />
            <param name="value" value="assessment.SubmitterUsername.Length / 0.3" />
          </method>
        </register>

        <!--Coeus-->
        <register type="IAssessmentService" mapTo="AssessmentService">
          <property name="LookupService" />
          <property name="RiskScoreCalculator" />
          <property name="UserService" />
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IAuditService" mapTo="AuditService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="ILookupService" mapTo="LookupService">
          <property name="AuditService" />
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="ISecurityService" mapTo="SecurityService">
          <property name="ADUsersDomain" value="192.168.56.101" />
          <property name="ADAdminUsername" value="Administrator" />
          <property name="ADAdminPassword" value="Angela!2" />
          <property name="TokenExpiration" value="60" />
          <property name="UserService" />
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IUserService" mapTo="UserService">
          <property name="ADUsersGroupName" value="CoeusUsers" />
          <property name="ADUsersDomain" value="LDAP://192.168.56.101:389/CN=Users,DC=dev,DC=Topcoder,DC=local" />
          <property name="ADGroupDomainTemplate" value="LDAP://192.168.56.101:389/CN={0},CN=Users,DC=dev,DC=Topcoder,DC=local" />
          <property name="ADAdminUsername" value="Administrator" />
          <property name="ADAdminPassword" value="Angela!2" />
          <property name="ADPropertyNameMapping" dependencyName="ADPropertyNameMapping" />
          <property name="LookupService" />
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IRiskScoreCalculator" mapTo="RiskScoreCalculator">
          <property name="Logger" />
          <property name="Expressions" dependencyName="Expressions" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="AuthorizationFilter">
          <property name="Logger" />
          <property name="SecurityService" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="ExceptionFilter">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="LoggingActionFilter">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="AssessmentController">
          <property name="AssessmentService" />
          <property name="UserService" />
          <property name="AuditService" />
          <property name="LookupService" />
          <method name="CheckConfiguration" />
        </register>
        <register type="LookupController">
          <property name="AuditService" />
          <property name="LookupService" />
          <method name="CheckConfiguration" />
        </register>
        <register type="SecurityController">
          <property name="SecurityService" />
          <method name="CheckConfiguration" />
        </register>
        <register type="UserController">
          <property name="UserService" />
          <method name="CheckConfiguration" />
        </register>

        <!--KST-->
        <register type="IAuditFindingService" mapTo="AuditFindingService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IBusinessUnitKPIScorecardService" mapTo="BusinessUnitKPIScorecardService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IKPIScorecardConfigurationService" mapTo="KPIScorecardConfigurationService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="KST_ILookupService" mapTo="KST_LookupService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IOperationalIncidentService" mapTo="OperationalIncidentService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IPrivacyIncidentService" mapTo="PrivacyIncidentService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="ISummaryService" mapTo="SummaryService">
          <property name="BusinessUnitKPIScorecardService" />
          <property name="AuditFindingService" />
          <property name="OperationalIncidentService" />
          <property name="PrivacyIncidentService" />
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="AuditFindingController">
          <property name="AuditFindingService" />
          <property name="InputAllowedInDays" value="13" />
          <method name="CheckConfiguration" />
        </register>
        <register type="BusinessUnitKPIScorecardController">
          <property name="BusinessUnitKPIScorecardService" />
          <property name="InputAllowedInDays" value="15" />
          <method name="CheckConfiguration" />
        </register>
        <register type="KPIScorecardConfigurationController">
          <property name="KPIScorecardConfigurationService" />
          <method name="CheckConfiguration" />
        </register>
        <register type="OperationalIncidentController">
          <property name="OperationalIncidentService" />
          <property name="InputAllowedInDays" value="17" />
          <method name="CheckConfiguration" />
        </register>
        <register type="PrivacyIncidentController">
          <property name="PrivacyIncidentService" />
          <property name="InputAllowedInDays" value="20" />
          <method name="CheckConfiguration" />
        </register>
        <register type="KST_LookupController">
          <property name="LookupService" />
          <method name="CheckConfiguration" />
        </register>
        <register type="SummaryController">
          <property name="SummaryService" />
          <method name="CheckConfiguration" />
        </register>
      </container>
    </containers>
  </unity>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>