<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <appSettings>
    <!-- the path for exported files -->
    <add key="ExportedFilesPath" value="C:\dev\exprots\" />
  </appSettings>

  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=localhost;Initial Catalog=projectCoeus;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="KSTConnectionString" connectionString="Data Source=localhost;Initial Catalog=projectCoeus;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="servicesLog.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="default">
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </logger>
  </log4net>

  <unity>
    <typeAliases>
      <typeAlias alias="IAssessmentService" type="JohnHancock.ProjectCoeus.Services.IAssessmentService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="AssessmentService" type="JohnHancock.ProjectCoeus.Services.Impl.AssessmentService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="IAuditService" type="JohnHancock.ProjectCoeus.Services.IAuditService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="AuditService" type="JohnHancock.ProjectCoeus.Services.Impl.AuditService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="ILookupService" type="JohnHancock.ProjectCoeus.Services.ILookupService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="LookupService" type="JohnHancock.ProjectCoeus.Services.Impl.LookupService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="ISecurityService" type="JohnHancock.Common.Services.ISecurityService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="SecurityService" type="JohnHancock.Common.Services.Impl.SecurityService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="IUserService" type="JohnHancock.Common.Services.IUserService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="UserService" type="JohnHancock.Common.Services.Impl.UserService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="IRiskScoreCalculator" type="JohnHancock.ProjectCoeus.Services.Impl.IRiskScoreCalculator, JohnHancock.ProjectCoeus" />
      <typeAlias alias="RiskScoreCalculator" type="JohnHancock.ProjectCoeus.Calculators.Impl.RiskScoreCalculator, JohnHancock.ProjectCoeus" />
      <!-- other types -->
      <typeAlias alias="IDictionaryString" type="System.Collections.Generic.IDictionary`2[System.String,System.String]" />
      <typeAlias alias="DictionaryString" type="System.Collections.Generic.Dictionary`2[System.String,System.String]" />
    </typeAliases>
    <containers>
      <container>
        <!-- ADPropertyNameMapping for UserService -->
        <register type="IDictionaryString" mapTo="DictionaryString" name="ADPropertyNameMapping">
          <constructor />
          <method name="Add">
            <param name="key" value="FirstName" />
            <param name="value" value="givenName" />
          </method>
          <method name="Add">
            <param name="key" value="LastName" />
            <param name="value" value="sn" />
          </method>
        </register>
        <!-- Expressions for RiskScoreCalculator, note that expressions are trivial for testing purposes -->
        <register type="IDictionaryString" mapTo="DictionaryString" name="Expressions">
          <constructor />
          <method name="Add">
            <param name="key" value="ResidualOverallRiskScore" />
            <param name="value" value="assessment.OverallRiskRatingCommentary.Length * 2.5" />
          </method>
          <method name="Add">
            <param name="key" value="ResidualCategoryRiskScore" />
            <param name="value" value="assessment.BUFunctionalApproveTime.Value.Day + category.Id" />
          </method>
          <method name="Add">
            <param name="key" value="LikelihoodOfOccurrenceOverallRiskScore" />
            <param name="value" value="assessment.BUFunctionalApproveTime.Value.Day + 7.3" />
          </method>
          <method name="Add">
            <param name="key" value="RiskExposureOverallRiskScore" />
            <param name="value" value="assessment.SubmitterUsername.Length + 2.34" />
          </method>
          <method name="Add">
            <param name="key" value="KeyControlsMaturityOverallRiskScore" />
            <param name="value" value="assessment.SubmitterUsername.Length / 0.3" />
          </method>
        </register>

        <register type="IAssessmentService" mapTo="AssessmentService">
          <property name="LookupService" />
          <property name="RiskScoreCalculator" />
          <property name="UserService" />
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IAuditService" mapTo="AuditService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="ILookupService" mapTo="LookupService">
          <property name="AuditService" />
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="ISecurityService" mapTo="SecurityService">
          <property name="ADUsersDomain" value="192.168.56.101" />
          <property name="ADAdminUsername" value="Administrator" />
          <property name="ADAdminPassword" value="Angela!2" />
          <property name="TokenExpiration" value="60" />
          <property name="UserService" />
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IUserService" mapTo="UserService">
          <property name="ADUsersGroupName" value="CoeusUsers" />
          <property name="ADUsersDomain" value="LDAP://192.168.56.101:389/CN=Users,DC=dev,DC=Topcoder,DC=local" />
          <property name="ADGroupDomainTemplate" value="LDAP://192.168.56.101:389/CN={0},CN=Users,DC=dev,DC=Topcoder,DC=local" />
          <property name="ADAdminUsername" value="Administrator" />
          <property name="ADAdminPassword" value="Angela!2" />
          <property name="ADPropertyNameMapping" dependencyName="ADPropertyNameMapping" />
          <property name="LookupService" />
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IRiskScoreCalculator" mapTo="RiskScoreCalculator">
          <property name="Logger" />
          <property name="Expressions" dependencyName="Expressions" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
      </container>
    </containers>
  </unity>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>