<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=localhost;Initial Catalog=projectCoeus;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="KSTConnectionString" connectionString="Data Source=localhost;Initial Catalog=projectCoeus;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="servicesLog.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="default">
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </logger>
  </log4net>

  <unity>
    <typeAliases>
      <typeAlias alias="IAuditFindingService" type="JohnHancock.KPIScorecard.Services.IAuditFindingService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="AuditFindingService" type="JohnHancock.KPIScorecard.Services.Impl.AuditFindingService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="IBusinessUnitKPIScorecardService" type="JohnHancock.KPIScorecard.Services.IBusinessUnitKPIScorecardService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="BusinessUnitKPIScorecardService" type="JohnHancock.KPIScorecard.Services.Impl.BusinessUnitKPIScorecardService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="IKPIScorecardConfigurationService" type="JohnHancock.KPIScorecard.Services.IKPIScorecardConfigurationService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="KPIScorecardConfigurationService" type="JohnHancock.KPIScorecard.Services.Impl.KPIScorecardConfigurationService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="KST_ILookupService" type="JohnHancock.KPIScorecard.Services.ILookupService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="KST_LookupService" type="JohnHancock.KPIScorecard.Services.Impl.LookupService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="IOperationalIncidentService" type="JohnHancock.KPIScorecard.Services.IOperationalIncidentService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="OperationalIncidentService" type="JohnHancock.KPIScorecard.Services.Impl.OperationalIncidentService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="IPrivacyIncidentService" type="JohnHancock.KPIScorecard.Services.IPrivacyIncidentService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="PrivacyIncidentService" type="JohnHancock.KPIScorecard.Services.Impl.PrivacyIncidentService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="ISummaryService" type="JohnHancock.KPIScorecard.Services.ISummaryService, JohnHancock.ProjectCoeus"/>
      <typeAlias alias="SummaryService" type="JohnHancock.KPIScorecard.Services.Impl.SummaryService, JohnHancock.ProjectCoeus"/>
    </typeAliases>
    <containers>
      <container>
        <register type="IAuditFindingService" mapTo="AuditFindingService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IBusinessUnitKPIScorecardService" mapTo="BusinessUnitKPIScorecardService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IKPIScorecardConfigurationService" mapTo="KPIScorecardConfigurationService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="KST_ILookupService" mapTo="KST_LookupService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IOperationalIncidentService" mapTo="OperationalIncidentService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IPrivacyIncidentService" mapTo="PrivacyIncidentService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="ISummaryService" mapTo="SummaryService">
          <property name="BusinessUnitKPIScorecardService" />
          <property name="AuditFindingService" />
          <property name="OperationalIncidentService" />
          <property name="PrivacyIncidentService" />
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
      </container>
    </containers>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>